@using XMS.Integration.OneC.Ut.Features.Catalog_СтатьиДвиженияДенежныхСредств_Feature
@using XMS.Modules.CostModule.Domain

@if (CostCatalogUtLookup != null)
{
	@foreach (var costCategory in CostCategoriesLookup[ParentId].OrderBy(e => e.Name))
	{
		<MudTr Style="width: 100%; display: table; table-layout: fixed;">
			<MudTd DataLabel="Наименование" Style="@($"padding-left: {(Level * 24)}px;")">
				<MudStack Row Justify="Justify.FlexStart">
					<MudIcon Icon="@Icons.Material.Filled.FolderOpen"
							 Class="@(costCategory.IsDeleted ? "mr-2 text-secondary" : "mr-2")" Title="Категория Затрат" />
					<MudText Typo="Typo.body1"
							 Class="@(costCategory.IsDeleted ? "text-secondary text-decoration-line-through" : "")">
						@costCategory.Name
					</MudText>
				</MudStack>
			</MudTd>
		</MudTr>

		<RecursiveRow @key="costCategory.Id"
					  CostCategoriesLookup="CostCategoriesLookup"
					  CostCatalogUtLookup="CostCatalogUtLookup"
					  CostCategoryItemMap="CostCategoryItemMap"
					  ParentId="costCategory.Id"
					  Level="@(Level + 1)"
					  CatalogUtItemsTree="CatalogUtItemsTree"
					  OnUpdateCostCatalogUt="OnUpdateCostCatalogUt"
					  OnDeleteCostCatalogUt="OnDeleteCostCatalogUt">
		</RecursiveRow>

		@if (costCategory.Items?.Count > 0)
		{
			foreach (var costItem in costCategory.Items.OrderBy(e => e.Name))
			{
				Guid costCategoryItemId = GetCostCategoryItemId(costCategory.Id, costItem.Id);

				<MudTr Style="width: 100%; display: table; table-layout: fixed;">
					<MudTd DataLabel="Наименование" Style="@($"padding-left: {(Level + 1) * 24}px;")">
						<MudStack Row Justify="Justify.SpaceBetween">
							<MudStack Row Justify="Justify.FlexStart">
								<MudIcon Icon="@Icons.Material.Filled.Description"
										 Size="Size.Small"
										 Color="@(costItem.IsDeleted ? Color.Secondary : Color.Default)"
										 Class="mr-2" Title="Статья Затрат" />
								<MudText Typo="Typo.body2"
										 Class="@(costItem.IsDeleted ? "text-secondary text-decoration-line-through" : "")">
									@costItem.Name
								</MudText>
							</MudStack>
							<div>
								@foreach (var selectedCostCatalogUt in CostCatalogUtLookup[costCategoryItemId])
								{
									var selectedCostCatalogUtId = selectedCostCatalogUt.Id;

									<MudChip T="string" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small">

										<MudText Typo="Typo.body2">@selectedCostCatalogUt.CatalogUtItem?.Description</MudText>

										@if (selectedCostCatalogUtId == _deletingCostCatalogUtId)
										{
											<MudProgressCircular Color="Color.Warning" Size="Size.Small" Indeterminate="true" />
										}
										else
										{
											<MudIconButton Icon="@Icons.Material.Filled.Clear" Color="Color.Warning" Size="Size.Small"
														   OnClick="() => DeleteCostCatalogUt(selectedCostCatalogUtId)" />
										}
									</MudChip>
								}
								<TreeViewDrawer CostCategoryItemId="@costCategoryItemId"
												CatalogUtItemsTree="CatalogUtItemsTree"
												SelectedCatalogUtItemIds="CostCatalogUtLookup[costCategoryItemId].Select(e => e.CatalogUtRefKey).ToHashSet()"
												OnUpdateCostCatalog="OnUpdateCostCatalogUt" />
							</div>
						</MudStack>
					</MudTd>
				</MudTr>
			}
		}
	}
}


@code {
	[Parameter] public ILookup<Guid?, CostCategory> CostCategoriesLookup { get; set; } = default!;
	[Parameter] public ILookup<Guid, CostCatalogUt> CostCatalogUtLookup { get; set; } = default!;
	[Parameter] public Dictionary<(Guid CostCategoryId, Guid CostItemId), Guid> CostCategoryItemMap { get; set; } = default!;
	[Parameter] public Guid? ParentId { get; set; }
	[Parameter] public int Level { get; set; } = 0;
	[Parameter] public IReadOnlyList<TreeItemData<Catalog_СтатьиДвиженияДенежныхСредств>> CatalogUtItemsTree { get; set; } = default!;
	[Parameter] public EventCallback<List<CostCatalogUt>> OnUpdateCostCatalogUt { get; set; }
	[Parameter] public EventCallback<Guid> OnDeleteCostCatalogUt { get; set; }

	private Guid? _deletingCostCatalogUtId;

	private Guid GetCostCategoryItemId(Guid costCategoryId, Guid costItemId)
	{
		if (CostCategoryItemMap.TryGetValue((costCategoryId, costItemId), out Guid costCategoryItemId))
			return costCategoryItemId;
		else
		{
			return Guid.Empty;
		}
	}

	private async Task DeleteCostCatalogUt
	(Guid cashFlowCostId)
	{
		_deletingCostCatalogUtId = cashFlowCostId;
		await OnDeleteCostCatalogUt.InvokeAsync(cashFlowCostId);
		_deletingCostCatalogUtId = null;
	}
}

