@implements IDisposable

@inject NavigationManager NavigationManager

<MudNavMenu>
	<MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Главная</MudNavLink>
	<MudNavLink Href="departments" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.CorporateFare">Схема предприятия</MudNavLink>
	<MudNavLink Href="employees" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Groups">Сотрудники</MudNavLink>
	<MudNavLink Href="costitems" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Outlined.Book">Статьи Затрат</MudNavLink>
	@* <MudNavLink Href="weather" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List">Weather</MudNavLink> *@
	<MudNavGroup Title="Справочники" Icon="@Icons.Material.Filled.LibraryBooks" Expanded="false">
		<MudNavLink Href="jobTitles" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Badge">Должности</MudNavLink>
		<MudNavLink Href="cities" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.LocationCity">Города</MudNavLink>
		<MudNavLink Href="locations" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.LocationSearching">Локации</MudNavLink>
		<MudNavLink Href="users-ad" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.SupportAgent">AD Users</MudNavLink>
		<MudNavGroup Title="Справочники 1С" Icon="@Icons.Material.Filled.LibraryBooks" Expanded="false">
			<MudNavLink Href="emploees-buh" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Diversity1">Сотрудники Бух</MudNavLink>
			<MudNavLink Href="emploees-zup" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.People">Сотрудники ЗУП</MudNavLink>
			<MudNavLink Href="users-ut" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Diversity3">Пользователи УТ</MudNavLink>
		</MudNavGroup>
	</MudNavGroup>

	<MudNavLink Href="auth" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Lock">Auth Required</MudNavLink>
	<AuthorizeView>
		<Authorized>
			<MudNavLink Href="Account/Manage" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person">@context.User.Identity?.Name</MudNavLink>
			<form action="Account/Logout" method="post">
				<AntiforgeryToken />
				<input type="hidden" name="ReturnUrl" value="@currentUrl" />
				<button type="submit" class="mud-nav-link mud-ripple">
					<MudIcon Icon="@Icons.Material.Filled.Logout" Class="mr-3"></MudIcon> Выход
				</button>
			</form>
		</Authorized>
		<NotAuthorized>
			<MudNavLink Href="Account/Register" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person">Регистрация</MudNavLink>
			<MudNavLink Href="Account/Login" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Login">Вход</MudNavLink>
		</NotAuthorized>
	</AuthorizeView>
</MudNavMenu>


@code {
	private string? currentUrl;

	protected override void OnInitialized()
	{
		currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
		NavigationManager.LocationChanged += OnLocationChanged;
	}

	private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
	{
		currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
		StateHasChanged();
	}

	public void Dispose()
	{
		NavigationManager.LocationChanged -= OnLocationChanged;
	}
}

