@implements IDisposable

@inject NavigationManager NavigationManager

<AuthorizeView>
	<Authorized>
		@* <MudNavLink Href="Account/Manage" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Person">@context.User.Identity?.Name</MudNavLink> *@
		<form action="Account/Logout" method="post">
			<AntiforgeryToken />
			<input type="hidden" name="ReturnUrl" value="@currentUrl" />
			<button type="submit" class="mud-nav-link mud-ripple">
				<MudIcon Icon="@Icons.Material.Filled.Logout" Class="mr-3"></MudIcon> Выход
			</button>
		</form>
	</Authorized>
	<NotAuthorized>
		@* <MudButton Href="Account/Register" StartIcon="@Icons.Material.Filled.Person" Color="Color.Inherit">Регистрация</MudButton> *@
		<MudButton Href="Account/Login" StartIcon="@Icons.Material.Filled.Login" Color="Color.Inherit">Вход</MudButton>
	</NotAuthorized>
</AuthorizeView>
@code {
	private string? currentUrl;

	protected override void OnInitialized()
	{
		currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
		NavigationManager.LocationChanged += OnLocationChanged;
	}

	private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
	{
		currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
		StateHasChanged();
	}

	public void Dispose()
	{
		NavigationManager.LocationChanged -= OnLocationChanged;
	}
}
