@page "/employees"
@using System.Globalization
@using Microsoft.AspNetCore.Authorization
@using XMS.Domain.Models
@attribute [Authorize]

<PageTitle>Сотрудники</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
	<MudPaper>
		<MudDataGrid @ref="_employeeGrid" T="Employee" Items="@_employees" Culture="@(new CultureInfo("ru-RU", false))"
					 Style="height: calc(100vh - 80px); overflow-y: auto;" FixedHeader
					 Loading="@_isLoading"
					 ReadOnly="false"					 
					 CommittedItemChanges="@((item) => CommittedItemChanges(item))"
					 QuickFilter="QuickFilter"
					 EditMode="DataGridEditMode.Form"
					 EditTrigger="@DataGridEditTrigger.Manual"
					 FilterCaseSensitivity="DataGridFilterCaseSensitivity.CaseInsensitive"
					 FilterMode="DataGridFilterMode.ColumnFilterRow"
					 ColumnResizeMode="ResizeMode.Container"
					 Dense Hover Striped Bordered Filterable Groupable
					 DragDropColumnReordering ApplyDropClassesOnDragStarted HorizontalScrollbar
					 DragIndicatorIcon="@Icons.Material.Filled.DragIndicator">
			<ToolBarContent>
				<MudText Typo="Typo.h5">Сотрудники</MudText>
				<MudSpacer />
				<MudTextField @bind-Value="_searchString" Label="Быстрый поиск" Placeholder="ФИО, Должность или Отдел" Adornment="Adornment.Start" Immediate="true"
							  AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Clearable="true"></MudTextField>
				<MudSpacer />
				<MudButton Class="ms-5" StartIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary" OnClick="NewItemAsync">
					Добавить
				</MudButton>				
				<MudSpacer />
				<MudSpacer />
			</ToolBarContent>
			<Columns>
				<PropertyColumn Property="x => x.Name" Title="ФИО" DragAndDropEnabled="false" StickyLeft="true">
					<CellTemplate>
						<div style="cursor: pointer; width: 100%; height: 100%; display: flex; align-items: center; min-height: 32px" @ondblclick="@(() => StartEditing(context.Item))">
							<MudText Class="@(context.Item.IsDeleted ? "text-secondary text-decoration-line-through" : "")">@context.Item.Name</MudText>
						</div>
					</CellTemplate>
					<EditTemplate>
						<MudGrid style="min-width: 500px">
							<MudItem xs="12">
								<MudTextField @bind-Value="context.Item.Name" Label="Ввод ФИО" Variant="Variant.Outlined"
											  Required="true" RequiredError="Нужно ввести ФИО" Clearable="true" />
							</MudItem>
						</MudGrid>
					</EditTemplate>
				</PropertyColumn>
				<PropertyColumn Property="x => x.IsDeleted" Title="Удален">
					<CellTemplate>
						<div style="cursor: pointer; width: 100%; height: 100%; display: flex; align-items: center; min-height: 32px" @ondblclick="@(() => StartEditing(context.Item))">
							<MudChip T="string" Color="@(context.Item.IsDeleted? Color.Secondary: Color.Info)" Size="Size.Small" Variant="Variant.Text">
								@(context.Item.IsDeleted ? "Удален" : "Активен")
							</MudChip>
						</div>
					</CellTemplate>
				</PropertyColumn>
				<PropertyColumn Property="x => x.JobTitle == null ? string.Empty : x.JobTitle.Name" Title="Должность">
					<CellTemplate>
						<div style="cursor: pointer; width: 100%; height: 100%; display: flex; align-items: center; min-height: 32px" @ondblclick="@(() => StartEditing(context.Item))">
							@context.Item.JobTitle?.Name
						</div>
					</CellTemplate>
					<EditTemplate>
						<MudSelect @bind-Value="context.Item.JobTitleId"
								   Label="Выбор Должности" Required="true" RequiredError="Нужно выбрать должность"
								   RelativeWidth="DropdownWidth.Ignore" Variant="Variant.Outlined" Clearable="true" Dense="true">
							@foreach (var item in _jobTitles)
							{
								<MudSelectItem T="Guid?" Value="item.Id">@item.Name</MudSelectItem>
							}

						</MudSelect>
					</EditTemplate>
				</PropertyColumn>
				<PropertyColumn Property="x => x.Department == null ? string.Empty : x.Department.Name" Title="Отдел">
					<CellTemplate>
						<div style="cursor: pointer; width: 100%; height: 100%; display: flex; align-items: center; min-height: 32px" @ondblclick="@(() => StartEditing(context.Item))">
							@context.Item.Department?.Name
						</div>
					</CellTemplate>
					<EditTemplate>
						<MudSelect @bind-Value="context.Item.DepartmentId"
								   Label="Выбор Отдела" Required="false" RequiredError="Нужно выбрать отдел"
								   RelativeWidth="DropdownWidth.Ignore" Variant="Variant.Outlined" Clearable="true" Dense="true">
							@foreach (var item in _departments)
							{
								<MudSelectItem T="Guid?" Value="item.Id">@item.Name</MudSelectItem>
							}

						</MudSelect>
					</EditTemplate>
				</PropertyColumn>
				<PropertyColumn Property="x => x.City == null ? string.Empty : x.City.Name" Title="Город">
					<CellTemplate>
						<div style="cursor: pointer; width: 100%; height: 100%; display: flex; align-items: center; min-height: 32px" @ondblclick="@(() => StartEditing(context.Item))">
							@context.Item.City?.Name
						</div>
					</CellTemplate>
					<EditTemplate>
						<MudSelect @bind-Value="context.Item.CityId"
								   Label="Выберите Город" Required="false" RequiredError="Нужно выбрать город"
								   Variant="Variant.Outlined" Clearable="true" Dense="true">
							@foreach (var item in _cities)
							{
								<MudSelectItem T="Guid?" Value="item.Id">@item.Name</MudSelectItem>
							}
						</MudSelect>
					</EditTemplate>
				</PropertyColumn>
				<PropertyColumn Property="x => x.Location == null ? string.Empty : x.Location.Name" Title="Локация" Required="false">
					<CellTemplate>
						<div style="cursor: pointer; width: 100%; height: 100%; display: flex; align-items: center; min-height: 32px" @ondblclick="@(() => StartEditing(context.Item))">
							@context.Item.Location?.Name
						</div>
					</CellTemplate>
					<EditTemplate>
						<MudSelect @bind-Value="context.Item.LocationId"
								   Label="Выбор Локации" Required="false" RequiredError="Нужно выбрать локацию"
								   Variant="Variant.Outlined" Clearable="true" Dense="true">
							@foreach (var item in _locations)
							{
								<MudSelectItem T="Guid?" Value="item.Id">@item.Name</MudSelectItem>
							}

						</MudSelect>
					</EditTemplate>
				</PropertyColumn>
				<PropertyColumn Property="x => x.UserUt == null ? string.Empty : x.UserUt.Name" Title="Пользователь УТ" Required="false">
					<CellTemplate>
						<div style="cursor: pointer; width: 100%; height: 100%; display: flex; align-items: center; min-height: 32px" @ondblclick="@(() => StartEditing(context.Item))">
							@context.Item.UserUt?.Name
						</div>
					</CellTemplate>
					<EditTemplate>
						<MudAutocomplete @bind-Value="context.Item.UserUtId" T="Guid?"
										 ToStringFunc="GetUserUtName"
										 SearchFunc="SearchUserUtIds"
										 Variant="Variant.Outlined" Label="Подбор Пользователя УТ"
										 Clearable="true" Dense="true"
										 RelativeWidth="DropdownWidth.Ignore">
							<ItemTemplate Context="id">
								<MudText Typo="Typo.body2" Style="white-space:nowrap">
									@GetUserUtName(id)
								</MudText>
							</ItemTemplate>
						</MudAutocomplete>
					</EditTemplate>
				</PropertyColumn>
				<PropertyColumn Property="x => x.EmployeeBuh == null ? string.Empty : x.EmployeeBuh.Name" Title="Сотрудник БП" Required="false">
					<CellTemplate>
						<div style="cursor: pointer; width: 100%; height: 100%; display: flex; align-items: center; min-height: 32px" @ondblclick="@(() => StartEditing(context.Item))">
							@context.Item.EmployeeBuh?.Name
							@(string.IsNullOrEmpty(context.Item.EmployeeBuh?.Code) ? string.Empty : $"({context.Item.EmployeeBuh?.Code})")
						</div>
					</CellTemplate>
					<EditTemplate>
						<MudAutocomplete @bind-Value="context.Item.EmployeeBuhId" T="Guid?"
										 ToStringFunc="GetEmployeeBuhLabel"
										 SearchFunc="SearchEmployeeBuhIds"
										 Variant="Variant.Outlined" Label="Подбор Сотрудника БП"
										 Clearable="true" Dense="true"
										 RelativeWidth="DropdownWidth.Ignore">
							<ItemTemplate Context="id">
								<MudText Typo="Typo.body2" Style="white-space:nowrap">
									@GetEmployeeBuhLabel(id)
								</MudText>
							</ItemTemplate>
						</MudAutocomplete>
					</EditTemplate>
				</PropertyColumn>
				<PropertyColumn Property="x => x.EmployeeZup == null ? string.Empty : x.EmployeeZup.Name" Title="Сотрудник ЗУП" Required="false">
					<CellTemplate>
						<div style="cursor: pointer; width: 100%; height: 100%; display: flex; align-items: center; min-height: 32px" @ondblclick="@(() => StartEditing(context.Item))">
							@context.Item.EmployeeZup?.Name
							@(string.IsNullOrEmpty(context.Item.EmployeeZup?.Code) ? string.Empty : $"({context.Item.EmployeeZup?.Code})")
						</div>
					</CellTemplate>
					<EditTemplate>
						<MudAutocomplete @bind-Value="context.Item.EmployeeZupId" T="Guid?"
										 ToStringFunc="GetEmployeeZupLabel"
										 SearchFunc="SearchEmployeeZupIds"
										 Variant="Variant.Outlined" Label="Подбор Сотрудника ЗУП"
										 Clearable="true" Dense="true"
										 RelativeWidth="DropdownWidth.Ignore" FullWidth="true">
							<ItemTemplate Context="id">
								<MudText Typo="Typo.body2" Style="white-space:nowrap">
									@GetEmployeeZupLabel(id)
								</MudText>
							</ItemTemplate>
						</MudAutocomplete>
					</EditTemplate>
				</PropertyColumn>
				<PropertyColumn Property="x => x.UserAd == null ? string.Empty : x.UserAd.Name" Title="AD User" Required="false">
					<CellTemplate>
						<div style="cursor: pointer; width: 100%; height: 100%; display: flex; align-items: center; min-height: 32px" @ondblclick="@(() => StartEditing(context.Item))">
							@context.Item.UserAd?.Name
						</div>
					</CellTemplate>
					<EditTemplate>
						<MudAutocomplete @bind-Value="context.Item.UserAdId" T="string"
										 ToStringFunc="GetUserAdName"
										 SearchFunc="SearchUserAdIds"
										 Variant="Variant.Outlined" Label="Подбор Пользователя AD"
										 Clearable="true" Dense="true"
										 RelativeWidth="DropdownWidth.Ignore" FullWidth="true">
							<ItemTemplate Context="id">
								<MudText Typo="Typo.body2" Style="white-space:nowrap">
									@GetUserAdName(id)
								</MudText>
							</ItemTemplate>
						</MudAutocomplete>
					</EditTemplate>
				</PropertyColumn>
				<PropertyColumn Property="x => x.OperationManager == null ? string.Empty : x.OperationManager.Name" Title="Оперативный Руководитель" Required="false">
					<CellTemplate>
						<div style="cursor: pointer; width: 100%; height: 100%; display: flex; align-items: center; min-height: 32px" @ondblclick="@(() => StartEditing(context.Item))">
							@context.Item.OperationManager?.Name
						</div>
					</CellTemplate>
					<EditTemplate>
						<MudAutocomplete @bind-Value="context.Item.OperationManagerId" T="Guid?"
										 ToStringFunc="GetEmployeeName"
										 SearchFunc="SearchEmployeeIds"
										 Variant="Variant.Outlined" Label="Подбор Оперативного Руководителя"
										 Clearable="true" Dense="true"
										 RelativeWidth="DropdownWidth.Ignore" FullWidth="true">
							<ItemTemplate Context="id">
								<MudText Typo="Typo.body2" Style="white-space:nowrap">
									@GetEmployeeName(id)
								</MudText>
							</ItemTemplate>
						</MudAutocomplete>
					</EditTemplate>
				</PropertyColumn>
				<PropertyColumn Property="x => x.LocationManager == null ? string.Empty : x.LocationManager.Name" Title="Руководитель Локации" Required="false">
					<CellTemplate>
						<div style="cursor: pointer; width: 100%; height: 100%; display: flex; align-items: center; min-height: 32px" @ondblclick="@(() => StartEditing(context.Item))">
							@(context.Item.LocationManager?.Name == null ? string.Empty : context.Item.LocationManager?.Name)
						</div>
					</CellTemplate>
					<EditTemplate>
						<MudAutocomplete @bind-Value="context.Item.LocationManagerId" T="Guid?"
										 ToStringFunc="GetEmployeeName"
										 SearchFunc="SearchEmployeeIds"
										 Variant="Variant.Outlined" Label="Подбор Руководителя Локации"
										 Clearable="true" Dense="true"
										 RelativeWidth="DropdownWidth.Ignore" FullWidth="true">
							<ItemTemplate Context="id">
								<MudText Typo="Typo.body2" Style="white-space:nowrap">
									@GetEmployeeName(id)
								</MudText>
							</ItemTemplate>
						</MudAutocomplete>
					</EditTemplate>
				</PropertyColumn>
				<TemplateColumn>
					<CellTemplate>
						@if (context.Item.IsDeleted)
						{
							<MudIconButton Size="@Size.Small" Icon="@Icons.Material.Filled.RestoreFromTrash" Color="Color.Info"
										   OnClick="@(() => RestoreItemAsync(context.Item))" title="Восстановить" />
						}
						else
						{
							<MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" Color="Color.Secondary"
										   OnClick="@(() => DeleteItemAsync(context.Item))" title="Удалить" />
						}
					</CellTemplate>
					<EditTemplate>
						@if (context.Item.IsDeleted)
						{
							<MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Delete" Size="Size.Medium" Color="Color.Info"
									   OnClick="@(() => RestoreItemAsync(context.Item))" Class="mt-3">
								Восстановить
							</MudButton>
						}
						else
						{
							<MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Delete" Size="Size.Medium" Color="Color.Secondary"
									   OnClick="@(() => DeleteItemAsync(context.Item))" Class="mt-3">
								Удалить
							</MudButton>
						}
						
					</EditTemplate>
				</TemplateColumn>
			</Columns>
			<LoadingContent>
				<MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Left">
					Загрузка из БД...
				</MudAlert>
			</LoadingContent>
			<NoRecordsContent>
				<MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">
					Здесь пока ничего нет. Нажмите "Добавить", чтобы создать первый!
				</MudAlert>
			</NoRecordsContent>
			@* <PagerContent>
				<MudDataGridPager T="Employee" PageSizeOptions="[10,20,50,100,1000]"  />
			</PagerContent> *@
		</MudDataGrid>
	</MudPaper>
</MudContainer>

