@page "/costitems"
@using Microsoft.AspNetCore.Authorization
@using XMS.Domain.Models
@attribute [Authorize]

<MudContainer MaxWidth="MaxWidth.Large">
	<MudStack Row="true">
		<MudPaper>
			<MudToolBar>
				<MudStack Row="true" Spacing="6">
					<MudText Typo="Typo.h5">Категории и Статьи Затрат</MudText>
					<MudFab Color="Color.Primary"
							Size="Size.Small"
							StartIcon="@(_expandedAll ? Icons.Material.Filled.VerticalAlignCenter : Icons.Material.Filled.Expand)"
							OnClick="@(_expandedAll ? CollapseAll : ExpandAll)"
							title="Свернуть все" />
				</MudStack>
			</MudToolBar>
			<MudTreeView Items="_costTree" T="object" Dense="true">
				<ItemTemplate Context="node">
					<MudTreeViewItem Expanded="@node.Expanded"
									 ExpandedChanged="@((expanded) => ExpandedChanged(node, expanded))"
									 Items="@node.Children"
									 Value="@node.Value">
						<Content>
							<MudTreeViewItemToggleButton Expanded="@node.Expanded"
														 Visible="@node.HasChildren"
														 ExpandedChanged="@((expanded) => ExpandedChanged(node, expanded))" />
							<div class="d-flex align-center">
								@if (node.Value is CostCategory category)
								{
									<MudIcon Icon="@(node.Expanded? Icons.Material.Filled.FolderOpen : Icons.Material.Filled.Folder)" Size="Size.Medium" Class="mr-2" Title="Категория Затрат" />
									<MudText Typo="Typo.body1">@category.Name</MudText>
									<MudMenu Icon="@Icons.Material.Filled.MoreVert"
											 Size="Size.Medium"
											 AnchorOrigin="Origin.TopRight"
											 TransformOrigin="Origin.TopLeft"
											 Dense="true"
											 AriaLabel="Open menu">
										<MudMenuItem Label="Добавить Категорию" Icon="@Icons.Material.Filled.CreateNewFolder" OnClick="() => NewCategoryAsync(node.Value)" />
										@if (node.Value is CostCategory costCategory && costCategory.ParentId is not null)
										{
											<MudMenuItem Label="Изменить эту Категорию" Icon="@Icons.Material.Filled.Edit" OnClick="() => EditCategoryAsync(node.Value)" />
											<MudMenuItem Label="Удалить эту Категорию" Icon="@Icons.Material.Filled.Delete" OnClick="() => DeleteCategoryAsync(node.Value)" />
										}
									</MudMenu>

								}
								else if (node.Value is CostItem costItem)
								{
									<MudIcon Icon="@Icons.Material.Filled.Description" Size="Size.Small" Class="mr-2" Title="Статья Затрат" />
									<MudText Typo="Typo.body2">@costItem.Name</MudText>
								}
							</div>
						</Content>
					</MudTreeViewItem>
				</ItemTemplate>
			</MudTreeView>
		</MudPaper>
		<MudPaper>
			<MudDataGrid @ref="_costItemGrid" Items="@_costItems" T="CostItem"
						 ReadOnly="false"
						 Filterable="true"
						 CommittedItemChanges="@((item) => CommittedItemChanges(item))"
						 Bordered="true" Striped="true" Hover="true" Dense="true"
						 Loading="@_isLoading"
						 EditMode="DataGridEditMode.Form"
						 EditTrigger="DataGridEditTrigger.Manual">
				<ToolBarContent>
					<MudText Typo="Typo.h5">Статьи Затрат</MudText>
					<MudSpacer />
					<MudButton Color="Color.Primary" OnClick="NewItemAsync" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add">
						Добавить
					</MudButton>
				</ToolBarContent>
				<Columns>
					<PropertyColumn Property="x => x.Name" Title="Наименование" />
					<TemplateColumn CellClass="d-flex justify-between">
						<CellTemplate>
							<MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Color="Color.Primary" OnClick="@context.Actions.StartEditingItemAsync" />
							<MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" Color="Color.Secondary" OnClick="@(() => DeleteItemAsync(context.Item))" />
						</CellTemplate>
					</TemplateColumn>
				</Columns>
				<LoadingContent>
					<MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">
						Загрузка из БД...
					</MudAlert>
				</LoadingContent>
				<NoRecordsContent>
					<MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">
						Здесь пока ничего нет. Нажмите "Добавить", чтобы создать первый!
					</MudAlert>
				</NoRecordsContent>
				<PagerContent>
					<MudDataGridPager T="CostItem" />
				</PagerContent>
			</MudDataGrid>
		</MudPaper>
	</MudStack>
</MudContainer>

