@page "/costitems"
@using Microsoft.AspNetCore.Authorization
@using XMS.Domain.Models
@attribute [Authorize]

<MudContainer MaxWidth="MaxWidth.Large">
	<MudStack Row="true">
		<MudPaper>
			<MudToolBar>
				<MudStack Row="true" Spacing="6">
					<MudText Typo="Typo.h5">Категории и Статьи Затрат</MudText>
					<MudFab Color="Color.Primary" Size="Size.Small"
							StartIcon="@(_expandedAll? Icons.Material.Filled.VerticalAlignCenter : Icons.Material.Filled.Expand)"
							OnClick="@(_expandedAll ? CollapseAll : ExpandAll)" title="Свернуть все" />
					<MudSwitch T="bool" ValueChanged="ToggleIncludeDelete" Color="Color.Primary">Показать удаленные</MudSwitch>
				</MudStack>
			</MudToolBar>
			<MudTreeView Items="_costTree" T="object" Dense="true">
				<ItemTemplate Context="node">
					<MudTreeViewItem Expanded="@node.Expanded"
									 ExpandedChanged="@((expanded) => ExpandedChanged(node, expanded))"
									 Items="@node.Children"
									 Value="@node.Value">
						<Content>
							<MudTreeViewItemToggleButton Expanded="@node.Expanded"
														 Visible="@node.HasChildren"
														 ExpandedChanged="@((expanded) => ExpandedChanged(node, expanded))" />
							<div class="d-flex align-center">
								@if (node.Value is CostCategory category)
								{
									<MudIcon Icon="@(node.Expanded? Icons.Material.Filled.FolderOpen : Icons.Material.Filled.Folder)" Size="Size.Medium"
											 Class="@(category.IsDeleted ? "mr-2 text-secondary" : "mr-2")" Title="Категория Затрат" />
									<MudText Typo="Typo.body1"
											 Class="@(category.IsDeleted ? "text-secondary text-decoration-line-through" : "")">
										@category.Name
									</MudText>
									<MudMenu Icon="@Icons.Material.Filled.MoreVert" Size="Size.Medium" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopLeft" Dense="true">
										@if (category.IsDeleted)
										{
											<MudMenuItem Label="Восстановить" Icon="@Icons.Material.Filled.RestoreFromTrash" IconColor="Color.Info" OnClick="() => RestoreCategoryAsync(node.Value)" />
										}
										else
										{
											<MudMenuItem Label="Добавить" Icon="@Icons.Material.Filled.CreateNewFolder" IconColor="Color.Primary" OnClick="() => NewCategoryAsync(node.Value)" />
											@if (node.Value is CostCategory costCategory && costCategory.ParentId is not null)
											{
												<MudMenuItem Label="Изменить" Icon="@Icons.Material.Filled.Edit" IconColor="Color.Primary" OnClick="() => EditCategoryAsync(node.Value)" />
												<MudMenuItem Label="Удалить" Icon="@Icons.Material.Filled.Delete" IconColor="Color.Secondary" OnClick="() => DeleteCategoryAsync(node.Value)" />
											}
										}
									</MudMenu>

								}
								else if (node.Value is CostItem costItem)
								{
									<MudIcon Icon="@Icons.Material.Filled.Description" Size="Size.Small"
											 Class="@(costItem.IsDeleted ? "mr-2 text-secondary" : "mr-2")" Title="Статья Затрат" />
									<MudText Typo="Typo.body2"
											 Class="@(costItem.IsDeleted ? "text-secondary text-decoration-line-through" : "")">
										@costItem.Name
									</MudText>
								}
							</div>
						</Content>
					</MudTreeViewItem>
				</ItemTemplate>
			</MudTreeView>
		</MudPaper>
		<MudPaper>
			<MudDataGrid @ref="_costItemGrid" Items="@_costItems" T="CostItem"
						 ReadOnly="false" Filterable="true"
						 CommittedItemChanges="@((item) => CommittedItemChanges(item))"
						 Bordered="true" Striped="true" Hover="true" Dense="true"
						 Loading="@_isLoading"
						 EditMode="DataGridEditMode.Form"
						 EditTrigger="DataGridEditTrigger.Manual">
				<ToolBarContent>
					<MudText Typo="Typo.h5">Статьи Затрат</MudText>
					<MudSpacer />
					<MudButton Color="Color.Primary" OnClick="NewItemAsync" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add">
						Добавить
					</MudButton>
				</ToolBarContent>
				<Columns>
					<PropertyColumn Property="x => x.Name" Title="Наименование">
						<CellTemplate>
							<MudText Class="@(context.Item.IsDeleted ? "text-secondary text-decoration-line-through" : "")">@context.Item.Name</MudText>
						</CellTemplate>
					</PropertyColumn>
					<PropertyColumn Property="x => x.IsDeleted" Title="Удален">
						<CellTemplate>
							<MudChip T="string" Color="@(context.Item.IsDeleted? Color.Secondary: Color.Info)" Size="Size.Small" Variant="Variant.Text">
								@(context.Item.IsDeleted ? "Удален" : "Активен")
							</MudChip>
						</CellTemplate>
					</PropertyColumn>
					<TemplateColumn>
						<CellTemplate>
							<MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Color="Color.Primary" OnClick="@context.Actions.StartEditingItemAsync" title="Изменить" />
							@if (context.Item.IsDeleted)
							{
								<MudIconButton Size="@Size.Small" Icon="@Icons.Material.Filled.RestoreFromTrash" Color="Color.Info" OnClick="@(() => RestoreItemAsync(context.Item))" title="Восстановить" />
							}
							else
							{
								<MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" Color="Color.Secondary" OnClick="@(() => DeleteItemAsync(context.Item))" title="Удалить" />
							}
						</CellTemplate>
					</TemplateColumn>
				</Columns>
				<LoadingContent>
					<MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">
						Загрузка из БД...
					</MudAlert>
				</LoadingContent>
				<NoRecordsContent>
					<MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">
						Здесь пока ничего нет. Нажмите "Добавить", чтобы создать первый!
					</MudAlert>
				</NoRecordsContent>
				<PagerContent>
					<MudDataGridPager T="CostItem" />
				</PagerContent>
			</MudDataGrid>
		</MudPaper>
	</MudStack>
</MudContainer>

