@using XMS.Domain.Models

@foreach (var costCategory in CostCategories.Where(e => e.ParentId == ParentId).OrderBy(e => e.Name))
{
	<MudTr>
		<MudTd DataLabel="Наименование" Style="@($"padding-left: {(Level * 24)}px;")">
			<div class="d-flex align-center">
				<MudIcon Icon="@Icons.Material.Filled.FolderOpen"
						 Class="@(costCategory.IsDeleted ? "mr-2 text-secondary" : "mr-2")" Title="Категория Затрат" />
				<MudText Typo="Typo.body1"
						 Class="@(costCategory.IsDeleted ? "text-secondary text-decoration-line-through" : "")">
					@costCategory.Name
				</MudText>
			</div>
		</MudTd>
	</MudTr>
	
	<RecursiveRow CostCategories="CostCategories"
				  CostCategoryItems="CostCategoryItems"
				  CashFlowItems="CashFlowItems"
				  CashFlowCosts="CashFlowCosts"
				  ParentId="costCategory.Id"
				  Level="@(Level + 1)"
				  OnAddCashFlowCosts="OnAddCashFlowCosts"
				  OnDeleteCashFlowCost="OnDeleteCashFlowCost">
	</RecursiveRow>

	@if (costCategory.Items?.Count > 0)
	{
		foreach (var costItem in costCategory.Items.OrderBy(e => e.Name))
		{
			<MudTr Style="width: 100%; display: table; table-layout: fixed;">
				<MudTd DataLabel="Наименование" Style="@($"padding-left: {(Level + 1) * 24}px;")">
					<div class="d-flex align-center justify-space-between w-100">
						<div class="d-flex align-center">
							<MudIcon Icon="@Icons.Material.Filled.Description"
									 Size="Size.Small"
									 Color="@(costItem.IsDeleted ? Color.Secondary : Color.Default)"
									 Class="mr-2" Title="Статья Затрат" />
							<MudText Typo="Typo.body2"
									 Class="@(costItem.IsDeleted ? "text-secondary text-decoration-line-through" : "")">
								@costItem.Name
							</MudText>
						</div>
						<MudSpacer />
						<div>
							@{
								var currentCashFlowCosts = GetCashFlowCosts(costCategory, costItem);
							}
							@if (currentCashFlowCosts?.Count() > 0)
							{
								foreach (var currentCashFlowCost in currentCashFlowCosts)
								{
									<MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Outlined.Delete" IconColor="Color.Warning" Color="Color.Primary"
											   OnClick="() => DeleteCashFlowCost(currentCashFlowCost)">
										@currentCashFlowCost.CashFlowItem?.Name
									</MudButton>
								}
							}
							else
							{
								<TreeViewPopover CashFlowItems="@CashFlowItems"
												 CostCategoryItemId="@GetCostCategoryItemId(costCategory, costItem)"
												 OnAddCashFlowCosts="@OnAddCashFlowCosts" />
							}
						</div>
					</div>
				</MudTd>
			</MudTr>
		}
	}
}

@code {
	[Parameter] public IReadOnlyList<CostCategory> CostCategories { get; set; } = default!;
	[Parameter] public IReadOnlyList<CostCategoryItem> CostCategoryItems { get; set; } = default!;
	[Parameter] public IReadOnlyList<CashFlowItem> CashFlowItems { get; set; } = default!;
	[Parameter] public IReadOnlyList<CashFlowCost> CashFlowCosts { get; set; } = default!;
	[Parameter] public Guid? ParentId { get; set; }
	[Parameter] public int Level { get; set; } = 0;
	[Parameter] public EventCallback<List<CashFlowCost>> OnAddCashFlowCosts { get; set; }
	[Parameter] public EventCallback<Guid> OnDeleteCashFlowCost { get; set; }

	private IReadOnlyList<TreeItemData<CashFlowItem>> _cashFlowTreeItems = [];
	private HashSet<Guid> _expandedCashFlowItemIds = [];


	private IEnumerable<CashFlowCost>? GetCashFlowCosts(CostCategory costCategory, CostItem costItem)
	{
		var costCategoryItem = CostCategoryItems.FirstOrDefault(e => e.CategoryId == costCategory.Id && e.ItemId == costItem.Id);

		var currentCashFlowCosts = CashFlowCosts.Where(e => costCategoryItem != null && e.CostCategoryItemId == costCategoryItem.Id);

		return currentCashFlowCosts;
	}

	private Guid GetCostCategoryItemId(CostCategory costCategory, CostItem costItem)
	{
		return CostCategoryItems.FirstOrDefault(e => e.CategoryId == costCategory.Id && e.ItemId == costItem.Id).Id;
	}

	private async Task DeleteCashFlowCost(CashFlowCost cashFlowCost)
	{
		await OnDeleteCashFlowCost.InvokeAsync(cashFlowCost.Id);
	}
}

