@using XMS.Domain.Models

@foreach (var costCategory in CostCategories.Where(e => e.ParentId == ParentId).OrderBy(e => e.Name))
{
	<MudTr>
		<MudTd DataLabel="Наименование" Style="@($"padding-left: {(Level * 24)}px;")">
			<div class="d-flex align-center">
				<MudIcon Icon="@Icons.Material.Filled.FolderOpen"
						 Class="@(costCategory.IsDeleted ? "mr-2 text-secondary" : "mr-2")" Title="Категория Затрат" />
				<MudText Typo="Typo.body1"
						 Class="@(costCategory.IsDeleted ? "text-secondary text-decoration-line-through" : "")">
					@costCategory.Name
				</MudText>
			</div>
		</MudTd>
	</MudTr>
	
	<RecursiveRow CostCategories="CostCategories"
				  CostCategoryItems="CostCategoryItems"
				  CashFlowItems="CashFlowItems"
				  CashFlowCosts="CashFlowCosts"
				  ParentId="costCategory.Id"
				  Level="@(Level + 1)"
				  OnUpdateCashFlowCosts="OnUpdateCashFlowCosts"
				  OnDeleteCashFlowCost="OnDeleteCashFlowCost"
				  CashFlowItemsTree="CashFlowItemsTree">
	</RecursiveRow>

	@if (costCategory.Items?.Count > 0)
	{
		foreach (var costItem in costCategory.Items.OrderBy(e => e.Name))
		{
			Guid costCategoryId = costCategory.Id;
			Guid costItemId = costItem.Id;

			<MudTr Style="width: 100%; display: table; table-layout: fixed;">
				<MudTd DataLabel="Наименование" Style="@($"padding-left: {(Level + 1) * 24}px;")">
					<div class="d-flex align-center justify-space-between w-100">
						<div class="d-flex align-center">
							<MudIcon Icon="@Icons.Material.Filled.Description"
									 Size="Size.Small"
									 Color="@(costItem.IsDeleted ? Color.Secondary : Color.Default)"
									 Class="mr-2" Title="Статья Затрат" />
							<MudText Typo="Typo.body2"
									 Class="@(costItem.IsDeleted ? "text-secondary text-decoration-line-through" : "")">
								@costItem.Name
							</MudText>
						</div>
						<MudSpacer />
						<div>
							@{
								var cashFlowCosts = GetCashFlowCosts(costCategoryId, costItemId);
							}
							@if (cashFlowCosts?.Count() > 0)
							{
								foreach (var cashFlowCost in cashFlowCosts)
								{
									var cashFlowCostId = cashFlowCost.Id;

									<MudChip T="string" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small">
										<MudText>@cashFlowCost.CashFlowItem?.Name</MudText>
										<MudIconButton Icon="@Icons.Material.Filled.Clear" Color="Color.Warning" OnClick="() => DeleteCashFlowCost(cashFlowCostId)" Size="Size.Small" />

									</MudChip>
								}
							}
														
							@* <TreeViewPopover CashFlowItems="@CashFlowItems"
											 CostCategoryItemId="@GetCostCategoryItemId(costCategoryId, costItemId)"
											 OnUpdateCashFlowCosts="@OnUpdateCashFlowCosts"
											 CashFlowItemsTree="CashFlowItemsTree" /> *@

							<TreeViewDrawer CashFlowItemsTree="CashFlowItemsTree"
											CostCategoryItemId="@GetCostCategoryItemId(costCategoryId, costItemId)" 
											OnUpdateCashFlowCosts="OnUpdateCashFlowCosts" />

							


						</div>
					</div>
				</MudTd>
			</MudTr>
		}
	}
}

@code {
	[Parameter] public IReadOnlyList<CostCategory> CostCategories { get; set; } = default!;
	[Parameter] public IReadOnlyList<CostCategoryItem> CostCategoryItems { get; set; } = default!;
	[Parameter] public IReadOnlyList<CashFlowItem> CashFlowItems { get; set; } = default!;
	[Parameter] public IReadOnlyList<CashFlowCost> CashFlowCosts { get; set; } = default!;
	[Parameter] public Guid? ParentId { get; set; }
	[Parameter] public int Level { get; set; } = 0;
	[Parameter] public EventCallback<List<CashFlowCost>> OnUpdateCashFlowCosts { get; set; }
	[Parameter] public EventCallback<Guid> OnDeleteCashFlowCost { get; set; }
	[Parameter] public IReadOnlyList<TreeItemData<CashFlowItem>> CashFlowItemsTree { get; set; } = default!;

	private IReadOnlyList<TreeItemData<CashFlowItem>> _cashFlowTreeItems = [];
	private HashSet<Guid> _expandedCashFlowItemIds = [];


	private IEnumerable<CashFlowCost>? GetCashFlowCosts(Guid costCategoryId, Guid costItemId)
	{
		var costCategoryItemId = GetCostCategoryItemId(costCategoryId, costItemId);

		var cashFlowCosts = CashFlowCosts.Where(e => e.CostCategoryItemId == costCategoryItemId).OrderBy(e => e.CashFlowItem?.Name);

		return cashFlowCosts;
	}

	private Guid GetCostCategoryItemId(Guid costCategoryId, Guid costItemId)
	{
		var costCategoryItem = CostCategoryItems.FirstOrDefault(e => e.CategoryId == costCategoryId && e.ItemId == costItemId);

		return costCategoryItem!.Id; // TODO: return costCategoryItem!.Id; ???
	}

	private async Task DeleteCashFlowCost(Guid cashFlowCostId)
	{
		await OnDeleteCashFlowCost.InvokeAsync(cashFlowCostId);
	}
}

