@using XMS.Domain.Models

@foreach (var category in CostCategories.Where(e => e.ParentId == ParentId))
{
	<MudTr>
		<MudTd DataLabel="Наименование" Style="@($"padding-left: {(Level * 24)}px;")">
			<div class="d-flex align-center">
				<MudIcon Icon="@Icons.Material.Filled.FolderOpen"
						 Class="@(category.IsDeleted ? "mr-2 text-secondary" : "mr-2")" Title="Категория Затрат" />
				<MudText Typo="Typo.body1"
						 Class="@(category.IsDeleted ? "text-secondary text-decoration-line-through" : "")">
					@category.Name
				</MudText>
			</div>
		</MudTd>
	</MudTr>
	
	<RecursiveRow CostCategories="CostCategories"
				  CostItems="CostItems"
				  CostCategoryItems="CostCategoryItems"
				  CashFlowItems="CashFlowItems"
				  ParentId="category.Id"
				  Level="@(Level + 1)">
	</RecursiveRow>

	@if (category.Items?.Count > 0)
	{
		foreach (var item in category.Items)
		{
			<MudTr>
				<MudTd DataLabel="Наименование" Style="@($"padding-left: {(Level + 1) * 24}px;")">
					<div class="d-flex align-center justify-space-between w-50">
						<div class="d-flex align-center">
							<MudIcon Icon="@Icons.Material.Filled.Description"
									 Size="Size.Small"
									 Color="@(item.IsDeleted ? Color.Secondary : Color.Default)"
									 Class="mr-2" Title="Статья Затрат" />
							<MudText Typo="Typo.body2"
									 Class="@(item.IsDeleted ? "text-secondary text-decoration-line-through" : "")">
								@item.Name
							</MudText>
						</div>
						@{
							var cashFlowItem = GetCashFlowItemName(category, item);
						}
						@if (!string.IsNullOrEmpty(cashFlowItem?.Name))
						{
							<MudButton Variant="Variant.Outlined" EndIcon="@Icons.Material.Outlined.Delete" IconColor="Color.Warning" Color="Color.Primary"
									   OnClick="() => DeleteCashFlowItemLink(category, item, cashFlowItem)">
								@cashFlowItem.Name
							</MudButton>
						}
						else
						{
							<TreeViewMenu CashFlowItems="CashFlowItems" OnAddCashFlowItemLink="OnAddCashFlowItemLink" />
						}
					</div>
				</MudTd>
			</MudTr>
		}
	}
}

@code {
	[Parameter] public IReadOnlyList<CostCategory> CostCategories { get; set; } = default!;
	[Parameter] public IEnumerable<CostItem> CostItems { get; set; } = default!;
	[Parameter] public IReadOnlyList<CostCategoryItem> CostCategoryItems { get; set; } = default!;
	[Parameter] public IReadOnlyList<CashFlowItem> CashFlowItems { get; set; } = default!;
	[Parameter] public Guid? ParentId { get; set; }
	[Parameter] public int Level { get; set; } = 0;
	[Parameter] public EventCallback<Guid> OnAddCashFlowItemLink { get; set; }
	[Parameter] public EventCallback<CostCategoryItem> OnDeleteCashFlowItemLink { get; set; }

	private IReadOnlyList<TreeItemData<CashFlowItem>> _cashFlowTreeItems = [];
	private HashSet<Guid> _expandedCashFlowItemIds = [];

	private CashFlowItem? GetCashFlowItemName(CostCategory costCategory, CostItem costItem)
	{
		var costCategoryItem = CostCategoryItems.FirstOrDefault(e => e.CategoryId == costCategory.Id && e.ItemId == costItem.Id);

		return CashFlowItems.FirstOrDefault(e => costCategoryItem != null && e.Id == costCategoryItem.CashFlowItemId);
	}

	private async Task DeleteCashFlowItemLink(CostCategory category, CostItem item, CashFlowItem cashFlowItem)
	{
		await OnDeleteCashFlowItemLink.InvokeAsync(new CostCategoryItem
		{
			CategoryId = category.Id,
			ItemId = item.Id,
			CashFlowItemId = cashFlowItem.Id
		});
	}
}

