@using XMS.Domain.Models

@foreach (var category in CostCategories.Where(e => e.ParentId == ParentId))
{
	<tr>
		<td class="ps-3">
			<div class="d-flex align-center">
				<MudIcon Icon="@Icons.Material.Filled.FolderOpen"
						 Class="@(category.IsDeleted ? "mr-2 text-secondary" : "mr-2")" Title="Категория Затрат" />
				<MudText Typo="Typo.body1"
						 Class="@(category.IsDeleted ? "text-secondary text-decoration-line-through" : "")">
					@category.Name
				</MudText>
			</div>
		</td>
	</tr>
	<tr>
		<td class="ps-3">
			<RecursiveRow CostCategories="CostCategories"
						  CostItems="CostItems"
						  CostCategoryItems="CostCategoryItems"
						  CashFlowItems="CashFlowItems"
						  ParentId="category.Id">
			</RecursiveRow>
		</td>
	</tr>
	@if (category.Items?.Count > 0)
	{
		foreach (var item in category.Items)
		{
			<tr>
				<td class="ps-5">
					<div class="d-flex align-center">
						<MudIcon Icon="@Icons.Material.Filled.Description" Size="Size.Small"
								 Class="@(item.IsDeleted ? "mr-2 text-secondary" : "mr-2")" Title="Статья Затрат" />
						<MudText Typo="Typo.body2"
								 Class="@(item.IsDeleted ? "text-secondary text-decoration-line-through" : "")">
							@item.Name 
						</MudText>
						<MudChip T="string" Color="Color.Default">@GetCashFlowItem(category, item) </MudChip>
					</div>
					
				</td>
			</tr>
		}
	}
}

@code {
	[Parameter] public IReadOnlyList<CostCategory> CostCategories { get; set; } = default!;
	[Parameter] public IEnumerable<CostItem> CostItems { get; set; } = default!;
	[Parameter] public IReadOnlyList<CostCategoryItem> CostCategoryItems { get; set; } = default!;
	[Parameter] public IReadOnlyList<CashFlowItem> CashFlowItems { get; set; } = default!;
	[Parameter] public Guid? ParentId { get; set; }

	private string? GetCashFlowItem(CostCategory costCategory, CostItem costItem)
	{
		var costCategoryItem = CostCategoryItems.FirstOrDefault(e => e.CategoryId == costCategory.Id && e.ItemId == costItem.Id);

		if (costCategoryItem is null) return null;

		var cashFlowItem = CashFlowItems.FirstOrDefault(e => e.Id == costCategoryItem.CashFlowItemId);

		var result = cashFlowItem?.Name;

		return result is null ? "" : $" -> {result}";
	}
}

