@using XMS.Domain.Models
<MudMenu>
	<ActivatorContent>
		<MudIconButton Variant="Variant.Outlined" Icon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="@context.ToggleAsync" />
	</ActivatorContent>
	<ChildContent>
		<MudPaper Style="max-height: calc(100vh - 200px); overflow-y: auto;">
			<div>@CostCategoryId</div>
			<div>@CostItemId</div>
			<MudTreeView Items="@(_cashFlowTreeItems)" T="CashFlowItem" Dense="true">
				<ItemTemplate Context="item">
					<MudTreeViewItem Expanded="@item.Expanded"
									 ExpandedChanged="@((expanded) => ExpandedChanged(item, expanded))"
									 Items="@item.Children"
									 Value="@item.Value">
						<Content>
							<MudTreeViewItemToggleButton Expanded="@item.Expanded"
														 ExpandedChanged="@((expanded) => ExpandedChanged(item, expanded))"
														 Visible="@item.HasChildren" />
							<MudIcon Icon="@GetIcon(item)"
									 Class="@(item.Value?.IsDeleted == true ? "mr-2 text-secondary" : "mr-2")" />
													
							<MudStack Row="true" Class="d-flex justify-space-between flex-grow-1 gap-4">
								@if (item.Value?.IsFolder == false)
								{
									<MudMenuItem OnClick="@(() => AddCashFlowItemLink(item.Value))">
										<MudText Typo="Typo.body1">@item.Value?.Name</MudText>
									</MudMenuItem>
								}
								else
								{
									<MudText Typo="Typo.body1">@item.Value?.Name</MudText>
								}
								<MudText>@item.Value?.Code</MudText>
							</MudStack>
						</Content>
					</MudTreeViewItem>
				</ItemTemplate>
			</MudTreeView>
		</MudPaper>
	</ChildContent>
</MudMenu>

@code {
	[Parameter] public IReadOnlyList<CashFlowItem> CashFlowItems { get; set; } = default!;
	[Parameter] public Guid CostCategoryId { get; set; } = default!;
	[Parameter] public Guid CostItemId { get; set; } = default!;
	[Parameter] public EventCallback<CostCategoryItem> OnAddCashFlowItemLink { get; set; }

	private async Task AddCashFlowItemLink(CashFlowItem cashFlowItem)
	{
		await OnAddCashFlowItemLink.InvokeAsync(new CostCategoryItem
		{
			CategoryId = CostCategoryId,
			ItemId = CostItemId,
			CashFlowItemId = cashFlowItem.Id
		});
	}

	private IReadOnlyList<TreeItemData<CashFlowItem>> _cashFlowTreeItems = [];
	private HashSet<Guid> _expandedCashFlowItemIds = [];
	protected override void OnInitialized()
	{
		BuildTree();
	}

	private void BuildTree()
	{
		_cashFlowTreeItems = ExecuteBuildTree(CashFlowItems, Guid.Parse("00000000-0000-0000-0000-000000000000"));

		StateHasChanged();
	}

	private static List<TreeItemData<CashFlowItem>> ExecuteBuildTree(IEnumerable<CashFlowItem> allItems, Guid? parentId)
	{
		var list = allItems
			.Where(e => e.ParentId == parentId).ToList();
		var result = list
		.Select(e => new TreeItemData<CashFlowItem>
		{
			Value = e,
			Text = e.Name,
			Expanded = false,
			Children = ExecuteBuildTree(allItems, e.Id)
		})
		.ToList();

		return result;
	}

	private async Task ExpandedChanged(ITreeItemData<CashFlowItem?> node, bool expanded)
	{
		node.Expanded = expanded;

		if (node.Value is CashFlowItem cashFlowItem)

		{
			if (expanded)
				_expandedCashFlowItemIds.Add(cashFlowItem.Id);
			else
				_expandedCashFlowItemIds.Remove(cashFlowItem.Id);
		}
	}

	private static string GetIcon(ITreeItemData<CashFlowItem> item)
	{
		if (item.HasChildren)
			return item.Expanded ? Icons.Material.Filled.FolderOpen : Icons.Material.Filled.Folder;

		return Icons.Material.Filled.Description;
	}
}
