@page "/cost-section/cost-allocation"
@using Microsoft.AspNetCore.Authorization
@using XMS.Modules.CostModule.Domain
@attribute [Authorize]

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="pt-4">
	<MudPaper Class="pa-4">
		<MudDataGrid @ref="_dataGrid"
					 T="CostAllocation"
					 ServerData="LoadCostAllocation"
					 Loading="@_isLoading"
					 ReadOnly="false"
					 EditMode="DataGridEditMode.Cell"
					 Filterable="false" SortMode="SortMode.None"
					 FixedHeader Dense Hover Striped Bordered HorizontalScrollbar>
			<ToolBarContent>
				<MudStack Row="true" Justify="Justify.SpaceEvenly" AlignItems="AlignItems.Center" Class="w-100" Style="overflow: visible;">
					<MudText Typo="Typo.h5">Распределение затрат</MudText>
					<MudSwitch T="bool" ValueChanged="ToggleAllocatedShow" Color="Color.Primary">Показать все</MudSwitch>
					<MudSelect T="int?"
							   Value="_queryParameters.DocType"
							   ValueChanged="@(value => OnDocTypeSearch(value))"
							   Label="Тип"
							   RelativeWidth="DropdownWidth.Ignore"
							   Variant="Variant.Text"
							   Dense="true"
							   Clearable="true">
						<MudSelectItem T="int?" Value="0">Банк</MudSelectItem>
						<MudSelectItem T="int?" Value="1">Касса</MudSelectItem>
					</MudSelect>
					<MudDatePicker Label="C" Date="_queryParameters.From" DateChanged="@(value => OnDateFromSearch(value))" Clearable="true" />
					<MudDatePicker Label="По" Date="_queryParameters.To" DateChanged="@(value => OnDateToSearch(value))" Clearable="true" />
					<MudTextField T="string"
								  Value="_queryParameters.SearchTerm"
								  ValueChanged="@(value => OnNumberSearch(value))"
								  Immediate="true"
								  DebounceInterval="500"
								  Label="Номер"
								  Variant="Variant.Text"
								  Clearable="true" />
					<AuthorizeView Roles="@AppSettings.Roles.Admin">
						<Authorized>
							<MudSelect T="Guid?"
									   Value="_queryParameters.ManagerId"
									   ValueChanged="@(value => OnManagerSearch(value))"
									   Label="Менеджер"
									   RelativeWidth="DropdownWidth.Ignore"
									   Variant="Variant.Text"
									   Dense="true"
									   Clearable="true">
								@foreach (var employee in _managers)
								{
									<MudSelectItem T="Guid?" Value="@employee.Id">@employee.Name</MudSelectItem>
								}
							</MudSelect>
						</Authorized>
					</AuthorizeView>
				</MudStack>
			</ToolBarContent>
			<Columns>
				<PropertyColumn Property="x => x.Name" Title="Тип документа" Editable="false" />
				<PropertyColumn Property="x => x.Number" Title="Номер" Editable="false" StickyLeft="true" CellClassFunc="@(x => GetCellClass(x))" />
				<PropertyColumn Property="x => x.Date" Title="Дата" Format="dd.MM.yyyy" Editable="false" />
				<PropertyColumn Property="x => x.TotalAmount" Title="Сумма" Format="N2" Editable="false" />
				<PropertyColumn Property="x => x.CostCategory == null ? string.Empty : x.CostCategory.Name" Title="Категория затрат" Editable="false" />
				<PropertyColumn Property="x => x.CostItem == null ? string.Empty : x.CostItem.Name" Title="Статья затрат" Editable="false" />
				<PropertyColumn Property="x => x.City == null ? string.Empty : x.City.Name" Title="Город">
					<CellTemplate>
						@context.Item.City?.Name
					</CellTemplate>
					<EditTemplate>
						<MudSelect T="Guid?"
								   Value="context.Item.CityId"
								   ValueChanged="@(value => OnCityChangedAsync(context.Item, value))"
								   RelativeWidth="DropdownWidth.Ignore"
								   Variant="Variant.Text"
								   Dense="true"
								   Clearable="true">
							@foreach (var city in _cities)
							{
								<MudSelectItem T="Guid?" Value="@((Guid?)city.Id)">@city.Name</MudSelectItem>
							}
						</MudSelect>
					</EditTemplate>
				</PropertyColumn>
				<PropertyColumn Property="x => x.Location == null ? string.Empty : x.Location.Name" Title="Локация">
					<CellTemplate>
						@context.Item.Location?.Name
					</CellTemplate>
					<EditTemplate>
						<MudSelect T="Guid?"
								   Value="context.Item.LocationId"
								   ValueChanged="@(value => OnLocationChangedAsync(context.Item, value))"
								   RelativeWidth="DropdownWidth.Ignore"
								   Variant="Variant.Text"
								   Dense="true"
								   Clearable="true">
							@foreach (var location in _locations)
							{
								<MudSelectItem T="Guid?" Value="@((Guid?)location.Id)">@location.Name</MudSelectItem>
							}
						</MudSelect>
					</EditTemplate>
				</PropertyColumn>
				<PropertyColumn Property="x => x.Department == null ? string.Empty : x.Department.Name" Title="Отдел">
					<CellTemplate>
						@context.Item.Department?.Name
					</CellTemplate>
					<EditTemplate>
						<MudSelect T="Guid?"
								   Value="context.Item.DepartmentId"
								   ValueChanged="@(value => OnDepartmentChangedAsync(context.Item, value))"
								   RelativeWidth="DropdownWidth.Ignore"
								   Variant="Variant.Text"
								   Dense="true"
								   Clearable="true">
							@foreach (var department in _departmentsFlattenedTree)
							{
								<MudSelectItem T="Guid?" Value="@((Guid?)department.Id)">@department.Name</MudSelectItem>
							}
						</MudSelect>
					</EditTemplate>
				</PropertyColumn>
				@* <PropertyColumn Property="x => x.BusinessOperation" Title="Операция" Editable="false" /> *@
				<PropertyColumn Property="x => x.PaymentPurpose" Title="Назначение платежа" Editable="false">
					<CellTemplate>
						<div title="@(context.Item.PaymentPurpose)">
							@(context.Item.PaymentPurpose is string s ? $"{s.Substring(0, Math.Min(12, s.Length))}..." : string.Empty)
						</div>
					</CellTemplate>
				</PropertyColumn>
				<PropertyColumn Property="x => x.Author == null ? string.Empty : x.Author.Name" Title="Автор" Editable="false">
					<CellTemplate>
						<div title="@context.Item.Author?.Name">
							@(context.Item.Author?.Name is string s ? $"{(s.Contains(' ') ? s.Substring(0, s.IndexOf(' ')) : s)}..." : string.Empty)
						</div>

					</CellTemplate>
				</PropertyColumn>
				<PropertyColumn Property="x => x.Comment" Title="Комментарий" Editable="false">
					<CellTemplate>
						<div title="@(context.Item.Comment)">
							@(context.Item.Comment is string s ? $"{s.Substring(0, Math.Min(12, s.Length))}..." : string.Empty)
						</div>
					</CellTemplate>
				</PropertyColumn>

			</Columns>
			<LoadingContent>
				<MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">
					Загрузка распределений из БД...
				</MudAlert>
			</LoadingContent>
			<NoRecordsContent>
				<MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">
					Данные для распределения пока отсутствуют.
				</MudAlert>
			</NoRecordsContent>
			<PagerContent>
				<MudDataGridPager T="CostAllocation" />
			</PagerContent>
		</MudDataGrid>
	</MudPaper>
</MudContainer>