@using XMS.Domain.Models

@foreach (var costCategory in CostCategories.Where(e => e.ParentId == ParentId).OrderBy(e => e.Name))
{
	<MudTr Style="width: 100%; display: table; table-layout: fixed;">
		<MudTd DataLabel="Наименование" Style="@($"padding-left: {(Level * 24)}px;")">
			<MudStack Row Justify="Justify.FlexStart">
				<MudIcon Icon="@Icons.Material.Filled.FolderOpen"
						 Class="@(costCategory.IsDeleted ? "mr-2 text-secondary" : "mr-2")" Title="Категория Затрат" />
				<MudText Typo="Typo.body1"
						 Class="@(costCategory.IsDeleted ? "text-secondary text-decoration-line-through" : "")">
					@costCategory.Name
				</MudText>
			</MudStack>
		</MudTd>
	</MudTr>
	
	<RecursiveRow CostCategories="CostCategories"
				  CashFlowCostLookup="CashFlowCostLookup"
				  CostCategoryItemMap="CostCategoryItemMap"
				  ParentId="costCategory.Id"
				  Level="@(Level + 1)"
				  CashFlowItemsTree="CashFlowItemsTree"
				  OnUpdateCashFlowCosts="OnUpdateCashFlowCosts"
				  OnDeleteCashFlowCost="OnDeleteCashFlowCost">
	</RecursiveRow>

	@if (costCategory.Items?.Count > 0)
	{
		foreach (var costItem in costCategory.Items.OrderBy(e => e.Name))
		{
			Guid costCategoryItemId = GetCostCategoryItemId(costCategory.Id, costItem.Id);

			<MudTr Style="width: 100%; display: table; table-layout: fixed;">
				<MudTd DataLabel="Наименование" Style="@($"padding-left: {(Level + 1) * 24}px;")">
					<MudStack Row Justify="Justify.SpaceBetween">
						<MudStack Row Justify="Justify.FlexStart">
							<MudIcon Icon="@Icons.Material.Filled.Description"
									 Size="Size.Small"
									 Color="@(costItem.IsDeleted ? Color.Secondary : Color.Default)"
									 Class="mr-2" Title="Статья Затрат" />
							<MudText Typo="Typo.body2"
									 Class="@(costItem.IsDeleted ? "text-secondary text-decoration-line-through" : "")">
								@costItem.Name
							</MudText>
						</MudStack>						
						<div>
							@foreach (var selectedCashFlowCost in CashFlowCostLookup[costCategoryItemId])
							{
								var selectedCashFlowCostId = selectedCashFlowCost.Id;

								<MudChip T="string" Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small">

									<MudText Typo="Typo.body2">@selectedCashFlowCost.CashFlowItem?.Name</MudText>

									@if (selectedCashFlowCostId == _deletingCashFlowCostId)
									{
										<MudProgressCircular Color="Color.Warning" Size="Size.Small" Indeterminate="true" />
									}
									else
									{
										<MudIconButton Icon="@Icons.Material.Filled.Clear" Color="Color.Warning" Size="Size.Small"
													   OnClick="() => DeleteCashFlowCost(selectedCashFlowCostId)" />
									}
								</MudChip>
							}
							<TreeViewDrawer CostCategoryItemId="@costCategoryItemId"
											CashFlowItemsTree="CashFlowItemsTree"
											SelectedCashFlowItemIds="CashFlowCostLookup[costCategoryItemId].Select(e => e.CashFlowItemId).ToHashSet()"
											OnUpdateCashFlowCosts="OnUpdateCashFlowCosts" />
						</div>
					</MudStack>
				</MudTd>
			</MudTr>
		}
	}
}

@code {
	[Parameter] public IReadOnlyList<CostCategory> CostCategories { get; set; } = default!;
	[Parameter] public ILookup<Guid, CashFlowCost> CashFlowCostLookup { get; set; } = default!;
	[Parameter] public Dictionary<(Guid CostCategoryId, Guid CostItemId), Guid> CostCategoryItemMap { get; set; } = default!;
	[Parameter] public Guid? ParentId { get; set; }
	[Parameter] public int Level { get; set; } = 0;
	[Parameter] public IReadOnlyList<TreeItemData<CashFlowItem>> CashFlowItemsTree { get; set; } = default!;
	[Parameter] public EventCallback<List<CashFlowCost>> OnUpdateCashFlowCosts { get; set; }
	[Parameter] public EventCallback<Guid> OnDeleteCashFlowCost { get; set; }

	private Guid? _deletingCashFlowCostId;

	protected override void OnInitialized()
	{
		base.OnInitialized();
	}

	private Guid GetCostCategoryItemId(Guid costCategoryId, Guid costItemId)
	{
		if (CostCategoryItemMap.TryGetValue((costCategoryId, costItemId), out Guid costCategoryItemId))
			return costCategoryItemId;
		else
		{
			return Guid.Empty;
		}
	}

	private async Task DeleteCashFlowCost(Guid cashFlowCostId)
	{
		_deletingCashFlowCostId = cashFlowCostId;
		await OnDeleteCashFlowCost.InvokeAsync(cashFlowCostId);
		_deletingCashFlowCostId = null;
	}
}

